<li>
	{{name}}

	<button class="eat-burger" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if devoured}}EAT IT!{{else}}THROW IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
